<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom" style="position: sticky;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">RL Fanbase</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin') }}">Dashboard</a>
                </li>
            </ul>
            <span class="navbar-text" style="margin-left: auto;">
                    {% if app.user %}
                        <ul class="navbar-nav" style="margin-top: 10px;">
                            <li class="nav-item">
                                <p class="nav-link" style="color: white; padding-right: 10px; border-right: 1px solid white">{{ app.user.username|capitalize }}</p>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_profile', { username: app.user.username }) }}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">Log Out</a>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">Sign up</a>
                        </li>
                    </ul>
                    {% endif %}
            </span>
        </div>
    </div>
</nav>