{% extends 'base.html.twig' %}

{% block title %}Profile Edit!{% endblock %}

{% block main %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="mt-5">Edit Profile</h1>

        {{ form_start(form) }}
        {{ form_row(form.username, {'label' : "Username", 'attr': {'class': 'form-control form-control-lg'}}) }}
        {{ form_row(form.name, {'label' : "Name", 'attr': {'class': 'form-control form-control-lg'}}) }}
        {{ form_row(form.firstname, {'label' : "Firstname", 'attr': {'class': 'form-control form-control-lg'}}) }}

        <button type="submit" class="btn btn-primary btn-lg" style="margin-bottom: 40px;">Submit</button>
        {{ form_end(form) }}
    </div>
    <style>.form-control {
            margin: 10px 0 30px 0
        }

        .mt-5 {
            margin-bottom: 70px
        }

        .btn {
            margin-top: 30px
        }
    </style>
{% endblock %}
